@model IEnumerable<QuanLyTrongNam.Models.Farmer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FarmerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerPicture)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Farm.FarmName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FarmerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FarmerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FarmerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
