@model QuanLyTrongNam.Models.Mushroom

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Mushroom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MushroomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MushroomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MushroomDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MushroomDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MushroomPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MushroomPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MushroomPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MushroomPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farm.FarmId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MushroomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
