@model IEnumerable<QuanLyTrongNam.Models.Mushroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MushroomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MushroomDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MushroomPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MushroomPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MushroomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MushroomDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MushroomPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MushroomPicture)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Farm.FarmName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MushroomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MushroomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MushroomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
